Experiment Schedule.pdf
Sub Group division.pdf
Lab/Fabry-Perot

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

%OUTDIR%/

# excel 
~$*.xlsx
# Jupyter
.ipynb_checkpoints/
